doctype html
html(lang="en")
    head
        title Addressbook - login!
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        div('class'='addressbook')
            h1 AddressBook
        ul(class='sidebar')
            li: a(href='/index') Add Contact
        section
            div
                p Your Username or Password is Wrong!
                a(href='login') Try Again